* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

body, html {
  overflow-x: hidden;
  width: 100vw;
}

a {
  color: unset;
  text-decoration: none;
}

.gradient__bg {

  overflow: hidden;
  background-size: 100vw 100vh;
  background-position: center;
}

.section__margin {
  padding-top: 100px;
}

.scale-up-center {
	-webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
.section-heading{
  font-size: 34px;
  line-height: 42px;
  color: var(--color-ant);
  font-family: var(--font-sans);
  margin: 40px;
  width: 100%;
  text-align: center;
}

@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@media screen and (max-width: 700px){
  .section-heading{
    margin:0 0 40px 0;
  }
}
