@import "tailwindcss";

@theme {
  --color-primary: #C6A46C;
  --color-primary-hover: #B8935F;

  --color-text: #1A1A1A;
  --color-text-muted: #6B6B6B;

  --color-bg: #FFFFFF;
  --color-bg-soft: #F7F7F7;

  --color-border: #E5E5E5;

  --font-heading: "Playfair Display", serif;
  --font-body: "Inter", sans-serif;
}

.parallax-section {
  background-image: url("/home.webp");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}